/wordpress/wp-content/uploads/
/wordpress/wp-content/plugins/contact-form-7/
/wordpress/wp-content/plugins/classic-editor/
/wordpress/wp-content/themes/twentynineteen/
/wordpress/wp-content/themes/twentyseventeen/
/wordpress/wp-content/themes/twentytwenty/
/wordpress/wp-content/themes/twentytwentyone/
/wordpress/wp-content/plugins/honeypot/
/wordpress/wp-content/themes/twentytwentytwo/
/wordpress/wp-content/plugins/ml-slider/
/wordpress/wp-content/plugins/weather-map-widget/
/wordpress/wp-content/plugins/widget-options/
/wordpress/wp-content/themes/twentytwentythree/
