
/***############### Base reset and generic styles for print ***/
/*Enable background-colors and background-images on (most) browsers. */
* { -webkit-print-color-adjust: exact !important; /* Chrome, Safari */ color-adjust: exact !important; /* Firefox */ }

.noprint { display: none; }
/***########## End of General Reset and Setup ****/



/***############### Website Specific Styles. ***/

/*Prevent twentynineteen theme print styles from showing link URLs*/
html a:link, html a:visited, html a {
    text-decoration: none;
}

html a[href^="http"]::after {
    content: none;
}

/*Prevent mid-item splitting onto two pages if possible*/
.product,
.testimonial, 
.event__background { break-inside: avoid; page-break-inside: avoid; /*Older version*/ }


/*Header*/
html .site-header.featured-image .site-featured-image .entry-header, 
html .site-header.featured-image .site-branding-container {
    margin-bottom: auto;
}

article.entry .entry-header, 
footer.site-footer .site-info {
    margin-left: 1rem;
    margin-right: 1rem;
}
